global:
  scrape_interval:     15s
  evaluation_interval: 15s
  scrape_timeout:      10s
  external_labels:
    environment: "local"

rule_files:
  - "/etc/prometheus/alerts.yml"

scrape_configs:

  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node"
    static_configs:
      - targets: ["node-exporter:9100"]

  - job_name: "kafka"
    static_configs:
      - targets: ["kafka-exporter:9308"]
    scrape_interval: 10s

  - job_name: "opensearch"
    metrics_path: "/_plugins/_performanceanalyzer/metrics"
    params:
      metrics: ["Heap_Used,GC_Collection_Event,CPU_Utilization,SearchLatency,IndexingLatency"]
      agg: ["avg"]
      nodes: ["all"]
    static_configs:
      - targets: ["opensearch:9600"]
    scrape_interval: 20s
    scrape_timeout: 15s

  - job_name: "api"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["api:8000"]
    scrape_interval: 10s
